.landing-page {
	background-color: rgb(242,109,99);
	text-align:right;
}
.landing-logo {
	width:76vw;
	padding-left:1vw;
}

.marquee {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.marquee {
  animation: moveSlideshow 14s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
.marquee2 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee2 {
  animation: moveSlideshow 15s linear infinite;
}

.marquee:hover {
  opacity: 1;
}

.marquee3 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee3 {
  animation: moveSlideshow 20s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
.marquee4 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee4 {
  animation: moveSlideshow 17s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
.marquee5 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee5 {
  animation: moveSlideshow 14s linear infinite;
}

.marquee:hover {
  opacity: 1;
}

.marquee6 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee6 {
  animation: moveSlideshow 13s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
.marquee7 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee7 {
  animation: moveSlideshow 19s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
.marquee8 {
  top: 0;
  left: 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top:1vw;
}
.marquee8 {
  animation: moveSlideshow 18s linear infinite;
}

.marquee:hover {
  opacity: 1;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}



Resources1×0.5×0.25×Rerun


body {
	background-color:white;
	}
a {
	text-decoration: none;
	}
.header {
	background-color: rgb(242,109,99);
	text-align: center;
	}
.logo {
	padding-top:10px;
	padding-bottom: 5px;
	align-content:center;
	width:400px;
	}
.menu-desktop {
	display:none;
	}
.menu-mobile {
	text-align:center;
	padding-bottom:2vw;
	}
.options {
	color:white;
	text-decoration: none;
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:5vw;
	text-align: center;
	padding-left:5vw;
	padding-right:5vw;
	}
.desktop-grid {
	display:none;
	}
.media-logos {
	width:10vw;
	}
blockquote {
	font-size:40px;
	font-family: rift, sans-serif;
	font-weight: 700;
	text-align: center;
	color: rgb(242,109,99);
	padding-top:30px;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-bottom: 30px;
	}
.mobile-grid {
	text-align:center;
}
.circle-nav {
	width:300px;
	padding-bottom: 20px;
	}
footer {
	background-color: rgb(242,109,99);
	}
.media-logos {
	width:15px;
	text-align:right;
	}
.record-slideshow {
	text-align: center;
}
.record {
	width:100px;
	}
.titles {
	text-align: center;
	font-family: rift, sans-serif;
	font-weight: 700;
	font-style: normal;
	color:rgb(242,109,99);
	padding-top:5%;
	padding-bottom:5%;
	font-size:250%;
	}
.singers {
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color:rgb(242,109,99);
	line-height: 125%;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
  	overflow:hidden;
  	animation: 2s slide-right;
}


@keyframes slide-right {
  from {
    margin-left: -75%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    margin-right: 100%;
    width: 100%;
  }
}

.slideshow img {width: 75%;}

.slideshow img {width: 75%;}

.slideshow { margin: 0 0;}

/* for Sam G only */
.slick-slide { margin: 8px; width: 220px;}

.slideshow {
	text-align:center;
}

.product {
	width:200px;
	text-align:center;
}
.item-description {
	text-align: center;
}
.item-name {
	font-family: urw-din, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 13px;
	color: rgb(242,109,99);
}

.price {
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:15px;
	color: rgb(242,109,99);
}
.brand {
	font-family: urw-din, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:13px;
	color: rgb(242,109,99);
}
.accessories {
	padding-bottom:5px;
}


@media only screen and (min-width: 501px) {
	body{
		}
	.menu-mobile, .icon {
		display: none;
		}
	section {
		display:grid;
		grid-template-columns: 1fr 1fr;
		}
	.header {
		text-align:left;
		padding-left:1vw;
	}
	.menu-desktop {
		display:block;
		text-align: right;
		padding-top: 15px;
	}
	.options {
		text-decoration: none;
		color:white;
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		padding-left: 2vw;
		padding-right: 2vw;
		padding-bottom:5vw;
		padding-top: 20px;
		font-size: 20px;
		}
	.options:hover {
		text-decoration: none;
		color:white;
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		color:rgb(242,109,99);
		background-color: white;
		}
	blockquote {
		font-size:70px;
		font-family: rift, sans-serif;
		font-weight: 700;
		text-align: center;
		color: rgb(242,109,99);
		padding-top:30px;
		padding-right: 5vw;
		padding-left: 5vw;
		padding-bottom:30px;
		}
	.desktop-grid {
		text-align:center;
		position:relative;
	}
	.artists {
		width:30vw;
		text-align: center;
	}
	.accessories{
		width:30vw;
		text-align: center;
	}
	.events {
		width:30vw;
		text-align: center;
	}
	.artists:hover{
		animation: rotation 3.6s infinite linear;
	}
	.accessories:hover {
		animation: rotation 3.6s infinite linear;
	}
	.events:hover {
		animation: rotation 3.6s infinite linear;
	}

	.event-calendar {
		text-align:center;
		padding-bottom: 10px;
	}

	.calendar {
		width:70vw;
	}

	@keyframes rotation {
		  from {
		    transform: rotate(0deg);
		  }
		  to {
		    transform: rotate(359deg);
		  }
		}

	.record-effect {
		font-family: rift, sans-serif;
		font-weight: 700;
		text-align: center;
		font-size:30px;
		color: white;
		border-radius:50%;
		padding-top:40px;
		padding-bottom:40px;
	}
	.image-text .overlay {
		position: absolute;
		border-radius: 50%;
		background-color: rgb(242,109,99);
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:12vw;
		height:12vw;
		opacity: 0;
		transition: .5s ease;
	}

	.image-text:hover .overlay {
		opacity: 1;
	}

	.image-text {
		position:relative;
		width:30vw;
		margin:auto;
	}

	.image-text .text:hover {
		display:block;
		height:auto;
	}

	.image-text .record-effect {
		color:white;
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform: translate (-50%, -50%);
		-ms-transform: translate (-50%, -50%);
		transform: translate(-50%, -50%);
		text-align:center;
	}


	footer{
		background-color: rgb(242,109,99);
		}
	.mobile-grid {
		display:none;
	}
	.desktop-grid {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 2vw;
	}
	footer {
		background-color: rgb(242,109,99);
		}
	.media-logos {
		width:15px;
		padding:3px 3px;
	}
	.social-media-logos {
		text-align:right;
	}
	.record-slideshow {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align:center;
		align-content: center;
	}
	.record {
		width:15vw;
		}
	.titles {
		text-align: center;
		font-family: rift, sans-serif;
		font-weight: 700;
		font-style: normal;
		color:rgb(242,109,99);
		padding-top:3vw;
		padding-bottom:3vw;
		font-size:300%;
		}
	.singers {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		color:rgb(242,109,99);
		line-height: 35px;
		font-size: 25px;
		padding-left: 3vw;
		padding-right: 3vw;
	}
	.clothes {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 5px;
	}
	.items {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-bottom: 30px;
	}
	.product {
		width:300px;
	}
	.item-description {
		text-align: center;
	}
	.item-name {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 20px;
		color: rgb(242,109,99);
		padding-bottom: 2px;
	}
	.price {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size:22px;
		color: rgb(242,109,99);
		padding-bottom: 2px;
	}
	.brand {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size:15px;
		color: rgb(242,109,99);
		padding-bottom: 2px;
	}
	.about-blurb {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size:20px;
		line-height: 25px;
		padding-left: 15vw;
		padding-right: 15vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}

	.blurb-setting {
		padding-top: 1vw;
	}

	}

