a {
	text-decoration: none;
}

.header {
	display:grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 10px;
	background-color: rgb(242,109,99);
	padding-bottom: 8px;
}

.logo {
	width:400px;
	padding-left: 10px;
}

.grid {
	align-content: center;
}

.main-nav {
	width:500px;
	padding-top:7px;
	text-align: right;
}

.nav-words {
	font-family: urw-din, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	padding-top: 8px
	display:inline;
	padding: 20px;
}

.nav-words {
	color:#fff;
}

.nav-words:hover {
	background-color:white;
	color:rgb(242,109,99);
}

.dropdown-content {
	display:none;
}

.nav-words:hover .dropdown-content {
	display:block;
}

blockquote {
	font-family: rift, sans-serif;
	font-size: 5vw;
	font-weight: 700;
	text-align: center;
	color: rgb(242,109,99);
	padding-top:50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

.social-media {
	width 1000px;
	background-color: rgb(242,109,99);
	text-align: right;
	padding-right: 5px;
	position:bottom-page;
}

.media-logos {
	width: 20px;
	align-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.product {
	width:100px;
}

.record {
	width:200px;
}

.record-page{
	padding-left: 415px;
	padding-right: 415px;
}

.record-slideshow {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}


@media only screen and (min-width: 768px) 
	{body {
		background-color:white;
		}
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px;
		width: 100%;
		margin: auto;
}	
	}

@media only screen and (min-width: 1024px) 
	{body {
		background-color:white;
		}}

@media only screen and (min-width: 1200px) 
	{body {
		background-color:white;
		}}


/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/