@media only screen and (max-width: 410px) 
	{
	body {
		background-color:yellow;
		}
	a {
		text-decoration: none;
	}
	.header {
		background-color: rgb(242,109,99);
		}

	.logo {
		padding-top:10px;
		padding-bottom: 5px;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 40px;
		width: 100%;
		margin: auto;
		}
	.logo {
		text-align:left;
		width:87vw;
		padding-left:10px;
		}
	.circle-nav {
		width:100vw;
		text-align:center;
		}
	.media-logos {
		width:10vw;
	}
	blockquote {
		font-size:40px;
		font-family: rift, sans-serif;
		font-weight: 700;
		text-align: center;
		color: rgb(242,109,99);
		padding-top:30px;
		padding-right: 5vw;
		padding-left: 5vw;
		}
	.icon {
	    position: fixed;
	    cursor: pointer;
	    top: 5%;
	    right: 0%;
	    width: 40px;
	    height: 45px;
	    transform: translate(-50%, -50%);
	    display: block;
	    z-index: 1000;
		}

	.hamburger {
	    width: 40px;
	    height: 4px;
	    line-height: 70px;
	    background: white;
	    border-radius: 5px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    transition: .5s;
		}
	.hamburger:before,
	.hamburger:after {
	    content: '';
	    position: absolute;
	    width: 40px;
	    height: 4px;
	    background: white;
	    border-radius: 5px;
	    transition: .5s;
		}

	.hamburger:before {
	    top: -10px;
		}

	.hamburger:after {
	    top: 10px;
		}

	.icon.active .hamburger {
	    background: rgba(0,0,0,0);
	    box-shadow: 0 2px 5px rgba(0,0,0,0);
		}

	.icon.active .hamburger:before {
	    top: 0;
	    transform: rotate(45deg);
		}

	.icon.active .hamburger:after {
	    top: 0;
	    transform: rotate(135deg);
		}

	.menu-mobile {
	    background-color: #efefef;
	    height: 100vh;
	    position: fixed;
	    width: 100%;
	    z-index: 999;
	    padding-top: 150px;
	    font-family: 'Helvetica', sans-serif;
	    text-align: center;
		}

	.menu-mobile, .menu-mobile a {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-evenly;
		}
	.menu-mobile a {
	    clear: right;
	    text-decoration: none;
	    color: #333;
	    height: 70px;
	    line-height: 70px;
		}
	.menu-mobile a:hover {
	    color: red;
		}

	.desktop, .menu-desktop, .menu-mobile {
	        display: none;
	    }
	.circle-nav {
		width:300px;
		align-content: center;
	}

	footer {
		background-color: rgb(242,109,99);
		}
	.media-logos {
		width:15px;
	}
	.record {
		width:100px;
		}

	.titles {
		text-align: center;
		font-family: rift, sans-serif;
		font-weight: 700;
		font-style: normal;
		color:rgb(242,109,99);
		padding-top:5%;
		padding-bottom:5%;
		font-size:250%;
		}
	.artists {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		color:rgb(242,109,99);
		line-height: 125%;
		font-size: 100%;
		padding-bottom: 3%;
	}
	.product {
		width:200px;
	}
	.item-description {
		text-align: center;
	}
	.item-name {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 13px;
		color: rgb(242,109,99);
	}

	.price {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size:15px;
		color: rgb(242,109,99);
	}
	.brand {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size:13px;
		color: rgb(242,109,99);
	}

}


@media only screen and (min-width: 411px) {
	body{
		}
	.menu-mobile {
		display: none;
		}
	section {
		background-color: rgb(242,109,99);
		display:grid;
		grid-template-columns: 1fr 1fr;
		}
	.logo {
		width: 30vw;
		padding-left: 1vw;
		padding-top: 1vw;
		padding-bottom: 1vw
		}
	.menu-desktop {
		text-align: right;
		padding-right:2vw;
		padding-top: 1.7vw;
	}
	.options {
		text-decoration: none;
		color:white;
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		padding-left: 1vw;
		padding-right: 1vw;
		padding-bottom:5vw;
		padding-top: 5vw;
	}
	.options:hover {
		text-decoration: none;
		color:white;
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		color:rgb(242,109,99);
		background-color: white;
	}
	blockquote {
		font-size:70px;
		font-family: rift, sans-serif;
		font-weight: 700;
		text-align: center;
		color: rgb(242,109,99);
		padding-top:30px;
		padding-right: 5vw;
		padding-left: 5vw;
	}
		.circle-nav {
		width:300px;
		align-content: center;
	}

	footer {
		background-color: rgb(242,109,99);
		}
	.media-logos {
		width:15px;
	}
	.record {
		width:100px;
		}

	.titles {
		text-align: center;
		font-family: rift, sans-serif;
		font-weight: 700;
		font-style: normal;
		color:rgb(242,109,99);
		padding-top:3vw;
		padding-bottom:3vw;
		font-size:250%;
		}
	.artists {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		color:rgb(242,109,99);
		line-height: 125%;
		font-size: 100%;
		padding-bottom: 3%;
		padding-left: 1vw;
		padding-right: 1vw;
	}
	.product {
		width:200px;
	}
	.item-description {
		text-align: center;
	}
	.item-name {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 13px;
		color: rgb(242,109,99);
	}

	.price {
		font-family: urw-din, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size:15px;
		color: rgb(242,109,99);
	}
	.brand {
		font-family: urw-din, sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size:13px;
		color: rgb(242,109,99);
	}

	}

